@font-face {
    font-family: def;
    src: url(src/fonts/def.TTF);
}

.game-mode {
    cursor: url("src/cursors/cross.gif"), url("src/cursors/cross.cur"), default;
    height: 200px;
    border: 1px solid red;
    text-align: center;
    line-height: 200px;
    vertical-align: 200px;
    margin-left: 10px;
    width: 170px;
    transform: rotate(30deg);
    transition-duration: 0.5s;
}

.game-mode:hover {
    width: 220px; 
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    color: red;
    font-family: def;
    font-weight: lighter;
}

body {
    background-color: rgb(53, 53, 53);
}

#header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    transform: rotate(10deg);
}

.home {
    width: 80px;
    height: 80px;
    transition-duration: 0.5s;
    position: absolute;
    top: 100px;
    left: 0px;
}

.home:hover {
    transform: rotate(-90deg);
    transition-duration: 0.5s;
    position: absolute;
    top: 80px;
    left: 0px;
}

.crossCur {
    cursor: url("src/cursors/cross.gif"), url("src/cursors/cross.cur"), default;
}

#bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#pause1 {
    width: 80px;
    height: 80px;
    transition-duration: 0.4s;
    position: absolute;
    top: 0px;
    left: 0px;
}

#pause2 {
    width: 80px;
    height: 80px;
    transition-duration: 0.4s;
    position: absolute;
    top: 0px;
    left: 25px;
}

.hidden {
    display: none;
}

#playingArea {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100px;
}

#target {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    border-radius: 50px;
}

#points {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
}

#outPoints {
    color: red;
    position: absolute;
    top: 5px;
    right: 105px;
}

#reactionTime {
    color: red;
    position: absolute;
    top: 5px;
    right: 245px;
}

.customizeBox {
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid red;
    width: 500px;
    height: 250px;
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-30%, -30%);
    transform: rotate(20deg);
    cursor: default;
}

.customizeBox input {
    border: 1px solid red;
    background-color: transparent;
}

.customizeBox select {
    border: 1px solid red;
    background-color: transparent;
}

.customizeBox button {
    border: 1px solid red;
    background-color: transparent;
}

.customizeBox button:hover {
    border: 1px solid rgb(156, 0, 0);
    background-color: transparent;
    color: rgb(156, 0, 0);
}